/* your code here */
*{
	 list-style:none;
}
footer {
  background-color: #222;
  color: #fff;

}
h1{
	
}

.first{
	display:flex;
	justify-content:space-between;
	
}
.media-icons ul{
	display:flex;
	justify-content:inline-block;
	margin:30px;
}
li {
  margin: 10px;

}
.heading{
	margin:30px;

}
.link-boxes{
	display:flex;
	justify-content:space-between;
}
.third{
	margin-top:20px;
	padding:20px;
	display:flex;
	justify-content:space-between;
	background-color:gray;
	
}
.media-icons{
	display:flex;
	justify-content:inline;
}