 
/* your code here */
footer{
	background-color:black;
	color:white;
	box-sizing:border-box;
}
.logo-detail, .top, .media-icons{
	display:flex;
	justify-content:flex-start;
}
.media-icons{
	justify-content:flex-end;
}
.box{
	max-width:22%;
}
 
.link-boxes{
	display:flex;
	flex-direction:row;
}
.bottom-details{
	background-color:#2c303a;
	height:30px;
	display:flex;
}
.copy-right, .policy-terms{
	width:40%;
	margin:5px;
	margin-left:10px;
/* 	align-item:center; */
}
.policy-terms{
	width:50%;
	justify-content:flex-end;
}
a:link{
	text-decoration:none;
	color:white;
}